// About Styles //

#aboutDiv {
  margin-top: 1rem;
  background-color: #555d6f;
  border-radius: 1.8rem;
  width: 85%;
  margin: 2rem auto;
}
#centerAbout {
  width: 100%;
  text-align: center;
}
.about {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
#br {
  border-top: 2px dashed white;
}
