// Previous Work Styles //

#prevWorkButton {
  margin: 0 auto;
  text-align: center;
}
#prevWork h4 {
  color: white;
}
#prevWork p {
  color: white;
  width: 90%;
  margin: 0 auto;
}
.jobs {
  background-color: #282c34;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 85%;
  margin: 2rem auto;
}

// Media Queries //

@media screen and (max-width: 376px) {
}
