// Qualifications Styles //

.qualifications {
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin: 4rem auto;

  background-color: #555d6f;
  border-radius: 1.8rem;
  padding: 0.3rem;
  width: 85%;
}
#edu {
  width: 100%;
  text-align: center;
}
#buttonP {
  padding: 0;
  margin: 0 auto;
}
#closeButton {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
