#edu {
  width: 100%;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#br {
  border-top: 2px dashed white;
}

#buttonP {
  padding: 0;
  margin: 0 auto;
}

#closeButton {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.jobs {
  background-color: #282c34;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 85%;
  margin: 2rem auto;
}
